<section>
  <div class="mt-20">
    <div class="text-center">
      <a href="#!">
        <img
          src="/assets/img/logo.png"
          alt=""
          class="w-36 mx-auto mb-2 [html[data-theme=dark]_&]:hidden"
        />
        <img
          src="/assets/img/logo_dark.png"
          alt=""
          class="w-36 mx-auto mb-2 hidden [html[data-theme=dark]_&]:block"
        />
      </a>

      <div class="w-max flex items-center gap-2 mx-auto">
        <img
          src="./assets/img/mail_icon.png"
          alt=""
          class="w-5 [html[data-theme=dark]_&]:hidden"
        />
        <img
          src="./assets/img/mail_icon_dark.png"
          alt=""
          class="w-5 hidden [html[data-theme=dark]_&]:block"
        />

        <a href="mailto:contact@rahith.com">contact@rahith.com</a>
      </div>
    </div>
    <div
      class="text-center sm:flex items-center justify-between border-t border-gray-400 mx-[10%] mt-12 py-3"
    >
      <p>
        © {{ currentYear }}
        <a href="https://rahith.com" target="_blank">rahith.com</a> - All rights reserved.
      </p>
      <ul class="flex items-center gap-10 justify-center mt-4 sm:mt-0">
        <!-- list items here -->
      </ul>
      <ul class="flex items-center gap-10 justify-center mt-4 sm:mt-0">
        <li><a href="#!">GitHub</a></li>
        <li><a href="#!">LinkedIn</a></li>
        <li><a href="#!">Twitter</a></li>
      </ul>
    </div>
  </div>
</section>
