<section id="hero" class="hero">
  <!-- <h1>{{ data.name }}</h1>
  <h2>{{ data.role }}</h2>
  <p>{{ data.location }}</p>
  <div class="links">
    <a [href]="'mailto:' + data.email">Email</a>
    <a [href]="data.github" target="_blank">GitHub</a>
    <a [href]="data.linkedin" target="_blank">LinkedIn</a>
  </div> -->

  <div
    class="w-11/12 max-w-3xl text-center mx-auto h-screen flex flex-col items-center justify-center gap-4"
  >
    <img src="./assets/img/profile_img.png" alt="" class="rounded-full w-32" />
    <!-- <h3 class="flex items-end gap-2 text-xl md:text-2xl mb-3 font-Ovo">
      Hi! I&apos;m {{ data.name }}
      <img src="./assets/img/hand-icon.png" alt="" class="w-6 mb-1" />
    </h3> -->
    <h3 class="flex items-end gap-2 text-xl md:text-2xl mb-3 font-Ovo">
      <span class="whitespace-nowrap transition-opacity duration-150">
        {{ text }}
        <span
          class="opacity-0 w-[2px] h-6 bg-black ml-1 [html[data-theme=dark]_&]:bg-white"
        ></span>
      </span>

      <img
        *ngIf="text.includes('Hi!')"
        src="./assets/img/hand-icon.png"
        alt=""
        class="w-6 mb-1 origin-bottom-right animate-wave"
      />
    </h3>
    <h1 class="text-3xl sm:text-6xl lg:text-[66px] font-Ovo">
      {{ data.role }}
    </h1>
    <p class="max-w-2xl mx-auto font-Ovo">{{ data.description }}</p>

    <div class="flex flex-col sm:flex-row items-center gap-4 mt-4">
      <a
        href="#contact"
        class="px-10 py-2.5 border rounded-full bg-gradient-to-r from-[#b820e6] to-[#da7d20] text-white flex items-center gap-2 [html[data-theme=dark]_&]:border-transparent"
      >
        contact me
        <img src="./assets/img/right-arrow-white.png" alt="" class="w-4" />
      </a>

      <a
        href="assets/resume/RAHITHKUMARANMVRESUME.pdf"
        download
        class="px-10 py-2.5 rounded-full border border-gray-300 text-gray-800 [html[data-theme=dark]_&]:border-white/25 [html[data-theme=dark]_&]:text-white hover:bg-slate-100/70 [html[data-theme=dark]_&]:hover:bg-darkHover flex items-center gap-2 bg-white [html[data-theme=dark]_&]:bg-transparent"
      >
        my resume
        <img
          src="./assets/img/download-icon.png"
          alt="Download Icon"
          class="w-4 [html[data-theme=dark]_&]:invert"
        />
      </a>
    </div>
  </div>
</section>
